.foods-data-parent-div {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  /* margin: auto;
  */
  padding: 0px 10px;
  background-color: rgb(248, 249, 250);
}

.foods-table-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(158, 158, 158);
  /* margin-right: 20px; */
  /* background-color: rgb(228, 228, 228); */
  border-width: 20px;
 border-color: gray;

  justify-content: space-evenly;

  /* padding: 8px 10px; */
  font-weight: bold;

  margin: 0px 0px 20px 0px;
}

.foods-data-header {
  display: flex;
  /* text-align: center; */
  border: 1.5px solid rgb(240, 237, 237);
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(85, 84, 84);

  /* padding-left: 30px; */
  /* margin-right: 20px; */
  justify-items: center;
  align-content: center;

  /* text-align: center; */
  margin: 0px 0px 10px 0px;
  word-wrap: nowrap;
}
.btn-dashboard-foods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* row-gap: 50px; */
  column-gap: 5px;
}

.add-food-btn-container {
  display: flex;
  justify-content: end;
}
.btn-add-food {
  font-weight: bold;

  display: flex;
  padding: 10px;
  border: none;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 162, 255);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* add hover */

.foods-data-header:hover {
  background-color: rgb(228, 228, 228);
}
