/* form style */
.food-form {
  object-fit: cover;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 345px;
  border: solid;
  border: 1px solid #eee;

  border-width: 1px;
  border-radius: 2px;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* image  container */
.image-container {
  margin-top: 15px;
  display: flex;
  overflow: auto;
  /* overflow: auto; /* Enable vertical scrollbar if content overflows * */
  scroll-behavior: smooth;
}
/* image card */
.image-card {
  margin-top: 50px;
  /* scroll-behavior: ; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: white;
  scroll-snap-align: start;
  scrollbar-width: auto;

  border-style: solid;
}

.image-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.btn-upload {
  margin-top: 40px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.btn-save {
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-close:hover,
.btn-upload:hover,
.btn-save:hover {
  background-color: darkgreen;
}
.input {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label-input {
  display: block;
  margin-bottom: 5px;
  color: grey;
}

.close-div {
  display: flex;

  color: white;
  border: none;
  padding: 10px 10px;

  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0px;
  right: 0px;
}
.btn-close {
  /* text-align: right; */
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  padding: auto;
  background-color: rgb(211, 0, 0);
  color: rgb(255, 255, 255);
  right: 1px;
  top: 1px;
}
.btn-close:hover {
  background-color: rgb(254, 63, 63);
  cursor: pointer;
}
.input-group {
  margin-bottom: 10px;

  margin: auto; /* Center the form */
}

.add-food-inputs {
  margin-bottom: 20px;
}
.add-food-component {
  min-width: 50px;
}
