.cart-item-container {
  /* overflow: auto; */
  background-color: blue;
  /* max-height: 300px; */
  /* display: grid; */
  /* width: 45%; */
  /* position: relative; */
  /* flex: column; */

  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 10px;

  max-width: auto;
  padding-top: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  /* grid-template-columns: 1fr; */
  /* grid-template-columns: 350px 1fr 200px; */

  margin-left: 10px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  /* background-color: rgb(255, 255, 255); */
  /* align-items: space-around; */
  /* background-color: rgb(216, 127, 12); */
  outline: black;

  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
  margin-bottom: 12px;
  border-radius: 5px;

  /* z-index: 1000px; */

  -webkit-border-radius: 5px;
}
.cart-item-image-container {
  justify-content: flex-start;

  padding-top: 10px;
  height: 170px;
  width: 200px;
}
.cart-image {
  max-width: 100%;
  max-height: 100%;
}
.cart-item-price {
  font-weight: bolder;
}
.item-details {
  display: grid;
  /* width: calc(100% - 20%); */
  margin-left: 10px;
}

.cart-item-quantity {
  font-size: 18px;
  font-weight: bold;
}
.remove-btn-container {
  display: grid;
  /* justify-content: center; */
  /* flex-direction: column; */
}
.cart-item-total-price {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.cart-item-quantity {
  padding-top: 10px;
}
.cart-item-name {
  padding-top: 10px;
  font-weight: bold;
}
.cart-item-price {
  padding-top: 10px;
}
.remove-btn {
  font-family: sans-serif;
  font-size: 100%;
  margin-top: 45px;

  vertical-align: baseline;
  line-height: normal;
  appearance: button;
  cursor: pointer;
  display: inline-block;
  background: rgb(34, 102, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(34, 102, 0);
  height: auto;

  padding: 9px 1.4em;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  transition: opacity 0.2s ease 0s, background-color 0.15s ease 0s,
    border-color 0.15s ease 0s, filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
  position: relative;
}
.cart-item-price,
.cart-item-quantity,
.cart-item-name {
  color: rgb(58, 78, 102);
}
