.cart-summary-final {
  display: grid;

  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 40%;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.button {
  color: green;
  background-color: white;
}
.customer-address {
  margin-top: 20px;
  color: rgb(58, 78, 102);
}

.modify-cart {
  margin-top: 20px;
}

.change-address {
  margin-top: 10px;
}
.total-price-summary,
.address-is,
.address-grid {
  color: rgb(58, 78, 102);
  display: grid;
  margin-top: 15px;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-width: 1px;
  box-shadow: 0px 1;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.delivery-grid {
  display: flex;
  flex-direction: row;
}

.delivery-details {
  margin-bottom: 10px;
  box-shadow: 0px 1;
  border-bottom: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
}
.cart-details-summary {
  display: flex;
  margin-top: 20px;
}

.address-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 600;

  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;

  border-width: 1px;
  box-shadow: 0px 1;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
}
.change-address-btn {
  border: none;
  color: green;
  font-size: 100%;
  padding-right: 30px;
  cursor: pointer;
}

.icon-size {
  font-size: 20px;
  position: absolute;
  color: green;
}
.back-icon {
  margin-right: 10px;
}
.modify-cart-div {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.modify-summary-cart-link {
  font-size: 115%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.user-address {
  margin-top: 10px;
}

.total-quantity-summary {
  display: flex;
  margin-top: 15px;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-width: 1px;
  box-shadow: 0px 1;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  /* grid-template-columns: 1fr auto; */
}
.actual-total-price,
.actual-total-quantity {
  padding-left: 10px;
  font-weight: 600;
  color: rgb(58, 78, 102);
}
.btn-back,
.btn-update {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 40%;
  min-width: 10%;
  border: none;
  border-radius: 3px;
  background-color: rgb(2, 71, 2);
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.update-data-form-div {
  background-color: white;
  justify-content: center;
  border-width: 1px;
  box-shadow: 0px 1;
  border: 1px solid rgb(222, 222, 222);
}
.update-data-form-div > h4 {
  display: flex;
  justify-content: center;
  color: rgb(136, 136, 136);
}
.update-data-form-div {
  color: rgb(58, 78, 102);
}
.inside-form-container {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  flex-direction: column;
  /* background-color: blue; */
}
.form-input-address,
.form-input-email,
.form-input-name {
  margin: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  border: none;
}
.total-quantity-summary {
  color: rgb(58, 78, 102);
}
.btn-back {
  margin-bottom: 5px;
}
