.cart-summary {
  grid-row: 1;
  grid-column: auto;
  width: 150%;
  height: 300px;
  margin-bottom: 12px;
  margin-right: 120px;
  /* border: 1px solid rgb(222, 222, 222); */
  border-radius: 4px;
  padding: 18px;
  padding-bottom: 5px;
  /* background-color: rgb(240, 240, 240); */
  background-color: red;

  /* align-items: start; */

  /* grid-template-columns: 1fr 350px; */
}
.div,
h3 {
  color: rgb(18, 44, 71);
}
h5 {
  color: rgb(18, 44, 71);
}

.quantity-total {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(58, 78, 102);
}
.cart-total {
  display: grid;
  grid-template-columns: 1fr auto;

  font-weight: 800;
  margin-bottom: 9px;
  color: rgb(177, 39, 4);

  border-top: 1px solid rgb(222, 222, 222);
  padding-right: 20px;
  padding-top: 18px;
}

.confirm-btn {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 700;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;

  line-height: normal;
  appearance: button;
  cursor: pointer;
  display: inline-block;
  background: #018a01;
  border: none;
  color: rgb(255, 255, 255);
  /* border: 2px solid rgb(34, 102, 0); */
  height: auto;
}
.confirm-btn-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr auto;
}
