.about-parent {
  margin-top: 50px;
  height: 700px;

  /* background-color: #37b9a8; */
  padding-left: 10px;
  background-color: #e3f6f5;
  border-color: red;
  border-style: solid;
}

.section-center {
  padding-top: 70px;

  width: 600px;
  padding-left: 50px;
}
