.main {
  margin-top: 5%;
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  /* // grid-template-columns: repeat(4, 1fr); */
}
/* .foods-grid { */
/* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
/* } */
/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
/* @media screen and(maxi-width:) */
/* grid-template-columns: repeat(4, 1fr); */
@media screen and (max-with: 2000px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* This @media means when  the Screen with is  1600px  or  less
, we will  divide the grid into 6 columns
   */
@media screen and(max-with: 1600px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and(max-with: 1300px) {
  .main {
    grid-template-columns: repeat(3, 1 fr);
  }
}

@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and(max-width: 575px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 450px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
.form-container {
  /*      */
  margin-top: 10px;

  display: flex;
  align-items: center;

  position: absolute;
  width: 100%;
  max-width: 30%;
  top: 0.8%;
  left: 34%;
  right: 0;
  height: 55px;
  display: flex;
  flex-shrink: 1;
  background-color: rgb(209, 209, 209);
}

.search-bar {
  margin: auto;
  /* background-color: rgb(192, 190, 190); */
  background-color: rgb(209, 209, 209);
  position: absolute;
  width: 80%;
  max-width: 100%;
  /*border-radius: 10px;
  */
  flex: 1;
  display: flex;
  /*border-style: solid;
  */
  justify-content: center;
  align-items: center;
  /* max-width: 850px; */
  margin-top: 20px;
  /* margin-right: 50%; */
  padding-left: 26px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-input-search {
  /*box-sizing: border-box;
  */
  flex: 1;
  width: 20%;
  /* width: 100%; */
  /*max-width: 550px;
  */ /*resize: both;
  */
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
  /*border-radius: 50px;
  */
  border: none;
  border-radius: 4px;
  /*-webkit-border-radius: 50px;
  -moz-border-radius: 4px ;
  -ms-border-radius: 4px ;
  -o-border-radius: 4px ;
  -o-border-radius: 50px;
  */
}
.search-input-search::placeholder {
  padding-left: 30px;
  font-size: larger;
}
.search-input-search:hover,
.search-bar:active,
input:focus {
  border: none;
}
.search-btn {
  width: 65px;
  height: 55px;
  max-height: 100%;
  max-width: 100%;
  border: none;

  flex-shrink: 0;
  /* border-radius: 10px; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.search-bar-icon {
  width: 100%;
  height: 20px;
  border: none;
  /* flex-shrink: 1; */
}
.search-bar-icon:hover {
  cursor: pointer;
}
.food-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  margin-top: 10%;

  margin-bottom: 5% !important;
  /* width: calc(40px - 20px); */
  /* float: left; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding: 20px;
  min-width: 50%;
  /* flex: 0 0 auto; */
  text-align: center;
  /* margin-left: 80px; */
  margin: auto;

  /* margin-left: -1px; */
  border: 1px solid rgb(226, 226, 226);
  transition: border-color 0.4s ease 0s;
}
.food-container:hover {
  transform: scale(1.1);
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.foods-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2px;
}

.food-image {
  /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
  max-width: 100%;

  object-fit: contain;

  height: 250px;
}

.food-image:hover {
  transform: scale(1.1);
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.food-name > h4 {
  display: flex;
  text-align: center;
  justify-self: center;

  font-size: larger;
  justify-content: center;
  align-content: stretch;
}
.food-name {
  display: flex;

  /* width: 50%; */
  text-wrap: wrap;
  height: 40px;
  max-width: 100%;
  width: 100%;
  text-align: center;

  align-items: center;
  /* margin-left: 20px; */
  margin-top: 5px;
  margin-bottom: 33px;

  vertical-align: baseline;
  line-height: normal;

  cursor: pointer;
  display: inline-block;

  color: rgb(53, 53, 53);
  border-radius: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.food-name > h4 {
  color: rgb(18, 44, 71);
}
.food-price {
  color: rgb(58, 78, 102);
}
.food-spacer {
  /* flex: 1; */
}
.food-description {
  padding-top: 10px;
}
.details-link {
  padding-top: 10px;
}

.oder-now-btn {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0px;
  vertical-align: baseline;
  line-height: normal;
  appearance: button;
  cursor: pointer;
  display: inline-block;
  background: rgb(34, 102, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(34, 102, 0);
  height: auto;
  width: 100%;
  padding: 9px 1.4em;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  transition: opacity 0.2s ease 0s, background-color 0.15s ease 0s,
    border-color 0.15s ease 0s, filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
  position: relative;
  outline: rgb(66, 153, 225) solid 1px !important;
}

.oder-now-btn:hover {
  cursor: pointer;
  transition: opacity 0.2s ease 0s, background-color 0.15s ease 0s,
    border-color 0.15s ease 0s, filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;

  border-color: rgb(51, 153, 0);
  background: rgb(51, 153, 0);
  color: rgb(255, 255, 255);
}

.class-spinner-container {
  display: flex;

  margin-top: 80px;
  margin-left: 80px;
}
.main-loader {
  margin-left: 50%;
}
.spinner-component {
  position: fixed;
}
.spinner-message {
  position: fixed;
  margin-top: 20%;

  margin-left: 30%;
}

.add-to-cart {
  background-color: rgb(255, 255, 255);
  /* color: green; */
  border: none;

  box-shadow: 6px solid rgb(146, 3, 3);
  /* display: flex; */
  /* display: inline-flex; */
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  /* padding: 9px 1.4em; */
  font-weight: 400;
  text-align: center;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}
