.footer {
  position: fixed;

  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-div {
  padding-top: 2px;

  text-align: center;
  background-color: #439d8a;
  background-color: #272643;
  color: #00deaf;
  font-weight: bold;
}
